---
---
<div class="container" style="max-width: 900px; margin: 0 auto; padding-left: 24px; padding-right: 24px;">
<!-- {{ reference }}
<br> -->

{%- for author in entry.author_array %}
{% assign full_name = author.first | append: " " | append: author.last %}
{% if full_name == "Sébastien Kleff" or full_name == "S{\'{e}}bastien Kleff" %}
  <strong>{{author.first}} {{author.last}}</strong>,
{% else %}
  {% assign first_name = author.first | split: " " %}
  {% for n in first_name %}
    {{n | truncate:1, ""}}. 
  {% endfor %}
  {{author.last}},
{% endif %}
{% endfor %}

{% if entry.title %}
"{{ entry.title}},"
{% endif %}

{% if entry.type == "article" %}
    <i>{{ entry.journal}}</i>,
    {% if entry.volume %} vol. {{entry.volume}},{% endif %}
    {% if entry.number %} no. {{entry.number}},{% endif %}
{% elsif entry.type == "inproceedings" %}
    in <i>{{entry.booktitle}}</i>,
{% endif %}
{% if entry.pages %} pp. {{entry.pages}},{% endif %}
{% if entry.month %} {{entry.month | capitalize }},{% endif %}
{% if entry.year %} {{entry.year}}.{% endif %}

<br>

{% if entry.abstract %}
{% assign clean_abs = {{entry.abstract}} | remove:'"' %}
<button type="button" class="btn_bib btn btn-sm" data-bs-custom-class="abstract-popover" data-bs-toggle="popover" data-bs-content="{{ clean_abs}}">
    Abs
</button>
{% endif %}

{% if entry.bibtex %}
{% assign nice_bib = {{entry.bibtex}} %}
<button type="button" class="btn_bib btn btn-sm" data-bs-custom-class="abstract-popover" data-bs-toggle="popover"  data-bs-content="{{nice_bib}}" data-bs-html="true">
    Bib
</button>
{% endif %}

{% if entry.url %} 
<a href="{{entry.url}}">
<i class="bi bi-link-45deg" style="font-size: 1.5rem; color: #AA5042;"></i>
</a>
{% endif %}

<!-- {% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}

<pre>{{ entry.bibtex }}</pre> -->
</div>